

@import url('https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.SectionUI_UX {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AreaTexto {
    padding: 101px 20px 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TituloSection {
    font-family: 'Miranda Sans';
    font-size: 33px;
    font-weight: 600;
    color: rgb(0, 51, 102);

}

.ParagrafoSection {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 22px 0px 9px;
}

.ContainerCards {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.SetasCarrossel {
    padding: 15px 0px;
}

.ButtonSetaEsquerda, .ButtonSetaDireita {
    border: none;
    background: transparent;
}


.ImgSetaEsquerda, .ImgSetaDireita {
    width: 60px;
    transition:  0.10s ease ;;
}

.ImgSetaEsquerda:hover {
        filter: opacity(0.8);
        transition:  0.4s ease ;
}

.ImgSetaDireita:hover {
    filter: opacity(0.8);
    transition:  0.4s ease ;;
}


@media(min-width: 754px) {

    .TituloSection {
        font-size: 41px;
    }
    .ParagrafoSection {
        width:  38rem;
        font-size: 17px;
    }
}